.Pokecard {
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.Pokecard-title {
    color: blue;
    font-weight: bold;
}

